*{
    font-family: 'Roboto', sans-serif;
    color: #434455;
}
ul,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

img {
  display: block;   
}


/* --------Header Styles-------- */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
}
.header-container.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px
}

.iris {
    color: #2E2F42;
}
.header-logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#4d5ae5;
  margin-right: 76px
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px
}

.header-nav-a {
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0
}

.header-nav-a:hover {
    color:#404bbf;
}

.header-nav-a:focus {
    color: #404bbf ;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-a:hover {
    color: #404bbf;
}
.header-address-a:focus {
    color: #404bbf ;
}

.header-address {
     font-style: normal;
}

/* -----Hero-Baner Styles-------- */

.hero-banner{
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-banner-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-left: 472px;
}

.hero-banner-button {
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size:16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: 636px;
}

.hero-banner-button:hover{
    background-color: #404BBF
}
.hero-banner-button:focus{
    background-color: #404BBF
}
/* --------Feature Styles-------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-container.container{
    padding-left: 120px;
}

.feature {
    padding: 120px 0
}

.feature-item {
    width: calc((100% - 72px) / 4); 
}

.feature-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4)
}

.feature-item-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.feature-item-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -------Our Team Styles--------  */

.our-team{
    background-color: #F4F4FD;
    padding: 120px 0
}

.our-team-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
    padding-left: 170px;
}

.our-team-list {
    display: flex;
    gap: 24px;
    padding-left: 200px;
}

.our-team-card {
    background-color: #FFFFFF;    
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-card-text {
  padding: 32px 0
}

.our-team-card-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-card-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


/* -------Our Portfolio Styles-------- */

.our-portfolio {
     padding: 120px 0 120px 0
}

.our-portfolio-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    padding-left: 50px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.our-portfolio-card {
    width: calc((100% - 48px) / 3);
}

.our-portfolio-card-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.our-portfolio-card-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-portfolio-card-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -------Footer Styles-------- */

.footer {
    background-color: #2E2F42;
    padding: 100px 0 
}

.footer-container.container {
    padding-left: 100px;
}

.footer-logo{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-iris {
    color: #f4f4fd;
}

.footer-main-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px
}